@font-face{
    font-family: Roboto-Regular;
    src: url("../fonts/RobotoRegular/RobotoRegular.ttf");
}
@font-face{
    font-family: Asimov;
    src: url("../fonts/Asimov/Asimov.ttf");
}
@font-face{
    font-family: MonotypeCorsva;
    src: url("../fonts/MonotypeCorsva/MonotypeCorsva.ttf");
}